<a href="https://colab.research.google.com/github/chermont04/Federal-District-Public-heath-Analysis/blob/main/notebooks/Analise_de_internacoes_Brasil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook para análise de internações do Brasil do Datasus

# 1.0 Introdução

# 2.0 Importação das Bibliotecas

In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

# 3.0 Carregamento e análise dos dados

Analisando a base de dados, vimos que as primeiras 3 linhas de cabeçário representavam uma introdução e as 12 últimas eram uma descrição das fontes e referências, não seguindo o padrão de dados do arquivo csv e impossibilitando a importação. Para resolver este problema utilizamos as funções:
- skiprows, para remover a introdução dos dados;
- skipfooter, para remover as fontes e referências;
- sep, para identificar o separador de dados como ";";
- encoding, para padronizar a leitura dos dados do arquivo csv.

In [9]:
internacoes = pd.read_csv("https://raw.githubusercontent.com/chermont04/Federal-District-Public-heath-Analysis/main/dados/internacoes_Brasil.csv",
                          encoding = 'ISO-8859-1',
                          skiprows=3,
                          skipfooter=12,
                          sep = ';')
internacoes.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """

  Região/Unidade da Federação  2008/Jan  2008/Fev  ...  2021/Set  2021/Out     Total
0                Região Norte     64708     76756  ...     80944     60684  13497257
1                 .. Rondônia      4142      7301  ...      8347      6246   1457074
2                     .. Acre      2087      3071  ...      4310      4002    666513
3                 .. Amazonas      9325     12754  ...     17958     13409   2373942
4                  .. Roraima      1475      1812  ...      3519      2985    490682

[5 rows x 168 columns]

Verificando os tipos de dados de cada coluna

In [11]:
internacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Columns: 168 entries, Região/Unidade da Federação to Total
dtypes: int64(166), object(2)
memory usage: 42.1+ KB

In [10]:
internacoes.describe()

            2008/Jan       2008/Fev  ...       2021/Out         Total
count      32.000000      32.000000  ...      32.000000  3.200000e+01
mean    40725.937500   51521.750000  ...   53772.937500  9.760196e+06
std     53782.694444   67575.393526  ...   76227.559994  1.343103e+07
min      1475.000000    1812.000000  ...     503.000000  4.906820e+05
25%      9457.750000   12579.750000  ...   12257.750000  2.322183e+06
50%     22572.500000   28049.500000  ...   24411.500000  5.177514e+06
75%     44091.750000   62563.750000  ...   59845.500000  1.093808e+07
max    237231.000000  295608.000000  ...  354276.000000  6.098425e+07

[8 rows x 166 columns]

Percebemos que na base de dados temos os indicies (de 0 a 31) e a coluna de estados que são do tipo object. Podemos setar a coluna de estados como indice, e remover essa coluna que a função de read_csv seta como indice, ja que ela não será relevante para nenhuma análise.

In [ ]:
internacoes = internacoes.set_index('Região/Unidade da Federação')
internacoes.head()

Podemos observar se há dados nulos para serem tratados

In [14]:
internacoes.isnull().sum()

Região/Unidade da Federação    0
2008/Jan                       0
2008/Fev                       0
2008/Mar                       0
2008/Abr                       0
                              ..
2021/Jul                       0
2021/Ago                       0
2021/Set                       0
2021/Out                       0
Total                          0
Length: 168, dtype: int64

Verificamos que não há valores nulos para serem tratados nesta base de dados.

# 4.0 Limpeza, tratamento e análise exploratória dos dados dos dados

# 5.0 Hipoteses

# 6.0 Análises

# 7.0 Conclusões

# 8.0 Considerações Finais

# 9.0 Referencias